name: Running Cypress

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout my repository # copy . from ghr to here
        uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm install
      
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          start: npm run dev
          wait-on: http://localhost:5173/
